<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações - ParkU</title>
</head>
<body>
    <h1>Configurações</h1>
    <form action="/configuracoes" method="post">
        <label for="valor_hora">Valor da Hora (R$):</label>
        <input type="number" id="valor_hora" name="valor_hora" required min="1"><span>,00</span><br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>
